.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.header a:hover {
    color: #ddd;
}

.navigation {
    display: flex;
        /* Включаем флекс-контейнер */
        gap: 1rem;
        /* Расстояние между элементами */
        margin: 0;
        padding: 0;
        list-style: none;
        /* Убираем маркеры */
        align-items: center;
}

.navigation li a {
text-decoration: none;
    /* Убираем подчеркивание */
    color: #fff;
    /* Цвет ссылок */
    padding: 0.5rem 1rem;
    /* Внутренние отступы для кликабельности */
    display: block;
}

.navigation li a:hover {
    color: #ddd;
}
.Header-module__navigation li {
    margin: 0;
    /* Убираем внешние отступы */
}